@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* 
レスポンシブ対応
*/
/* 
文字設定、色設定管理
*/
/* 
背景共通
*/
/* 
z-index
*/
.base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 16px;
  width: auto;
}

/* 
CSSアニメーションの設定
*/
@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  color: #131d34;
  z-index: 10000;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px -8px;
          box-shadow: 0 2px 8px -8px;
}
@media screen and (min-width: 1407px) {
  .header {
    height: 5rem;
  }
}

.header__title {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title header__title__logo {
  width: 90%;
  height: 90%;
}
@media screen and (min-width: 1407px) {
  .header__title header__title__logo {
    width: 100%;
    height: 100%;
  }
}
.header__title .header__title__catch {
  display: none;
}
@media screen and (min-width: 1407px) {
  .header__title .header__title__catch {
    display: inline-block;
    padding: 1rem;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 900;
    line-height: 1.1375;
  }
  .header__title .header__title__catch strong {
    font-size: 1.125rem;
  }
}

.global-nav {
  position: fixed;
  top: 60px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1407px) {
  .global-nav {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 0;
  }
}
.global-nav .gmenu {
  display: none;
  position: relative;
}
.global-nav .gmenu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
@media screen and (min-width: 1407px) {
  .global-nav .gmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    white-space: nowrap;
    padding-left: 50px;
    height: 100%;
  }
}

.gmenu__item {
  background: #fff;
  color: #000;
  cursor: pointer;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  white-space: nowrap;
}
@media screen and (min-width: 1407px) {
  .gmenu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    white-space: nowrap;
  }
}
.gmenu__item .gmenu__item__link {
  position: relative;
  width: 100%;
  height: 40px;
  color: #000;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
}
.gmenu__item .gmenu__item__link::before, .gmenu__item .gmenu__item__link::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gmenu__item .gmenu__item__link::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gmenu__item .gmenu__item__link.is-open::before {
  opacity: 0;
}
.gmenu__item .gmenu__item__link.is-open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.gmenu__item .gmenu__item__link.gmenu__item__link--notParent::before, .gmenu__item .gmenu__item__link.gmenu__item__link--notParent::after {
  opacity: 0;
}
@media screen and (min-width: 1407px) {
  .gmenu__item .gmenu__item__link {
    width: auto;
    height: 100%;
    /* 
    display: flex;と中央ぞろえはspから継承済み 
    */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .gmenu__item .gmenu__item__link:hover:not(.gmenu__action__link) {
    background-color: #D4F1F8;
  }
  .gmenu__item .gmenu__item__link:hover + .submenu {
    overflow: visible;
    height: 3rem;
  }
  .gmenu__item .gmenu__item__link::before, .gmenu__item .gmenu__item__link::after {
    display: none;
  }
}

.gmenu__action {
  display: none;
}
@media screen and (min-width: 1407px) {
  .gmenu__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gmenu__action .gmenu__action__link {
    color: #fff;
    background-color: #2498B3;
  }
}

/*
gmenu__item__linkの疑似要素で対応したためまったく使わず…

$openerWidth: 23px;
$openerHeight: 3px;

.gmenu__submenu-opener {
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    &::after {
        content: "";
        width: $openerWidth;
        height: $openerHeight;
        background-color: gray;
        position: absolute;
        この部分でleftプロパティで位置の定義してた。
        コメントアウト後も未定義関数使ってるよとのエラー吐いたので削除。
        display: block;
        transform: 0.2s;
        top: 18px;
    }
    > span {
        font-size: 0;
        background-color: gray;
        position: absolute;
        background-size: auto $openerHeight;
        同上。コメントアウト後にエラー吐いたため削除。
        top: 50%;
        transform: 0.2s;
    }
    &.is-open {
        position: relative;
        background-color: #fff;
        transition: 0.2s;
        &::after {
            background-color: #fff;
            transition: 0.2s;
            transform: rotate( -90deg );
            top: 10px;
        }
        > span {
            background: none;
            transition: 0.2s;
        }
    }
    @include v.breakpoint(pc) {
        display: none;
    }
}
*/
.submenu {
  background: #fff;
  display: none;
}
.submenu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1407px) {
  .submenu {
    overflow: hidden;
    /* 
    以下jQueryの.css()に記述していたものを移植
    */
    display: none;
    top: 80px;
    left: 0;
    position: absolute;
  }
}
.submenu .submenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  padding: 1rem;
  background-color: #fff;
}
@media screen and (min-width: 1407px) {
  .submenu .submenu__item {
    height: 3rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.9375rem 3.75rem 0.9375rem 0.9375rem;
    background-color: #D4F1F8;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .submenu .submenu__item:hover {
    background-color: #fff;
  }
}
.submenu .submenu__item .submenu__item__link {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.submenu .submenu__item .submenu__item__link:hover {
  color: #2498b3;
}

.main {
  position: relative;
  width: 100%;
}

.top-head {
  position: relative;
  z-index: 2500;
  height: 214px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top-head .front-bg {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: 50% 30px;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: absolute;
  background-image: url("../images/bg-hero1.png");
  z-index: 500;
}
@media screen and (min-width: 870px) {
  .top-head .front-bg {
    height: 950px;
    width: 100%;
  }
}
.top-head .mid-bg {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: 50% 30px;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: absolute;
  background-image: url("../images/bg-hero2.png");
  z-index: 200;
}
@media screen and (min-width: 870px) {
  .top-head .mid-bg {
    height: 950px;
    width: 100%;
  }
}
.top-head .back-bg {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: 50% 30px;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: absolute;
  background-image: url("../images/bg-hero3.png");
  z-index: 1;
}
@media screen and (min-width: 870px) {
  .top-head .back-bg {
    height: 950px;
    width: 100%;
  }
}
@media screen and (min-width: 870px) {
  .top-head {
    padding-top: 0;
  }
}

.main-content {
  position: relative;
  z-index: 2500;
}
@media screen and (min-width: 870px) {
  .main-content {
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1.25rem 0;
  z-index: 1000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (min-width: 870px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 33.125rem;
    border-radius: 5px;
    padding: 2.6875rem 3.5rem 1.1875rem;
  }
}
.about .about__logo {
  display: none;
}
@media screen and (min-width: 870px) {
  .about .about__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 17.5rem;
    height: 3.625rem;
    margin-bottom: 2rem;
  }
}
.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 870px) {
  .about .about__info {
    font-size: 1rem;
    line-height: 1.6875rem;
    margin-bottom: 3rem;
  }
}
.about .about__to-comic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2498B3;
  border: none;
  border-radius: 5px;
  width: 228px;
  height: 41px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (min-width: 870px) {
  .about .about__to-comic {
    width: 18.125rem;
    height: 4.1875rem;
  }
}
.about .about__to-comic a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 16rem;
  color: #fff;
  text-decoration: none;
  height: auto;
  width: 100%;
}

.strengths-container {
  padding: 30px 0 70px;
  background-color: #000;
}
@media screen and (min-width: 870px) {
  .strengths-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 16.4375rem;
  }
}
@media screen and (min-width: 1067px) {
  .strengths-container {
    width: 100%;
  }
}
.strengths-container .strength-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 30px 30px;
}
@media screen and (min-width: 870px) {
  .strengths-container .strength-item {
    margin-top: -16.4375rem;
  }
}
.strengths-container .strength-item .strength-what {
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.strengths-container .strength-item .strength-what .strength-subhead {
  font-size: 24px;
  line-height: 41px;
}
.strengths-container .strength-item .strength-what .strength-desc {
  font-size: 16px;
  line-height: 27px;
}
@media screen and (min-width: 1067px) {
  .strengths-container .strength-item .strength-what .strength-desc {
    width: 14rem;
  }
}

.fa-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.3125rem;
  height: 14.3125rem;
  border-radius: 50%;
  border: 0.35rem solid #000;
  background-color: #FFF;
  /* font-weight */
  /* Unicode */
}
.fa-container .strength-icon::before {
  font-family: "Font Awesome 5 Free";
  color: #000;
  font-size: 8rem;
}
.fa-container .fas::before {
  font-weight: 900;
}
.fa-container .far::before {
  font-weight: 400;
}
.fa-container .fa-dumbbell::before {
  content: "";
}
.fa-container .fa-chalkboard-teacher::before {
  content: "";
}
.fa-container .fa-comments::before {
  content: "";
}

.hamburger {
  width: 60px;
  height: 60px;
  border: none;
  background: #fff;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1407px) {
  .hamburger {
    display: none;
  }
}
.hamburger::before, .hamburger::after {
  content: "";
  width: 23px;
  height: 3px;
  background-color: #2498B3;
  position: absolute;
  left: calc( 50% - ( 23px / 2 ) );
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.hamburger::before {
  top: 22px;
}
.hamburger::after {
  top: 38px;
}
.hamburger > span {
  width: 23px;
  height: 3px;
  font-size: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2498B3), to(#2498B3)) repeat-x #2498B3;
  background: linear-gradient(to right, #2498B3, #2498B3) repeat-x #2498B3;
  background-size: auto 3px;
  position: absolute;
  left: calc( 50% - ( 23px / 2 ) );
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.hamburger.is-open {
  position: relative;
  background-color: #2498B3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hamburger.is-open::before, .hamburger.is-open::after {
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hamburger.is-open::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 28px;
}
.hamburger.is-open::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 28px;
}
.hamburger.is-open > span {
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body.is-open {
  position: relative;
}
/*# sourceMappingURL=style.css.map */